<%- include ../common/header.ejs %>
<%- include ../common/nav.ejs %>
<div class="photo-panel">
  <div class="photo">
    <img src="/images/lu.png" />
    <div class="button">
      <button class="btn btn-info">上传头像</button>
      <button class="btn btn-default">历史头像</button>
    </div>
  </div>
</div>
<div class="info-panel">
  <form action="/user/information" role="form" method="post" class="form-horizontal">
    <div class="form-group">
      <label for="displayName" class="col-sm-2 control-label">显示名称</label>
      <div class="col-sm-10">
        <input type="text" id="displayName" name="displayName" class="form-control" value="<%= infoUser.displayName || "" %>" />
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="email" id="email" name="email" class="form-control" value="<%= infoUser.email || "" %>" />
      </div>
    </div>
    <div class="form-group">
      <label for="github" class="col-sm-2 control-label">GITHUB</label>
      <div class="col-sm-10">
        <input type="text" id="github" name="github" class="form-control" placeholder="@username" value="<%= infoUser.github || "" %>" />
      </div>
    </div>
    <div class="form-group">
      <label for="intro" class="col-sm-2 control-label">个人简介</label>
      <div class="col-sm-10">
        <textarea type="text" id="intro" name="intro" class="form-control" placeholder="支持MarkDown"><%= infoUser.intro || "" %></textarea>
      </div>
    </div>
    <hr />
    <div class="form-group">
      <label for="newPassword" class="col-sm-2 control-label">新密码</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="newPassword" name="newPassword" />
      </div>
    </div>
    <div class="form-group">
      <label for="rePassword" class="col-sm-2 control-label">确认密码</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="rePassword" name="rePassword" />
      </div>
    </div>
    <div class="button-group">
      <button type="submit" class="btn btn-default">保存个人信息</button>
    </div>
  </form>
</div>
<%- include ../common/footer.ejs %>